:root {
  font-size: 10px;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

html, body {
  height: 100%;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h2, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#welcome_mat {
  position: absolute;
  top: 200px;
  right: 50px;
}
#welcome_mat svg {
  fill: #f25a5a;
}

#estimate_form {
  position: absolute;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}

section {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 0%;
  font-size: 1.7em;
  font-family: "Noto Serif TC", serif;
  z-index: 0;
  transition: height 1s;
}
section svg {
  position: absolute;
  width: 100%;
  height: auto;
  /*&.section_outer {
    position: absolute;
    height: 120px;
    width: 100%;
    top: 0;
    z-index: 3;
    fill: rgba(255,255,255,1);
  }*/
}
section svg.section_background {
  z-index: 0;
}
section h1, section h2, section h3, section h4, section h5, section h6 {
  font-family: "Cabin", sans-serif;
}
section h3 {
  font-size: 2.2em;
}
section .content-container {
  position: relative;
  z-index: 1;
  top: 120px;
  padding-bottom: 120px;
  height: 100%;
  overflow: auto;
}
section .content-container::-webkit-scrollbar {
  display: none;
}
section .content-container .container {
  padding-bottom: 50px;
}

.active-page {
  height: 85%;
}

@keyframes slideDown {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
header {
  position: relative;
}
header aside {
  animation: 1s 1 forwards slideDown;
  position: absolute;
  top: 0;
  left: 135px;
}
header aside:nth-of-type(2) {
  left: unset;
  right: 0px;
}
header aside polygon {
  fill: rgba(255, 255, 255, 0.5);
  transition: fill calc(1s/2);
}
header span.header-info, header div.header-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Oswald", sans-serif;
  font-size: 1.3em;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
header div.contact-info {
  justify-content: space-around;
}
header span.contact-info a, header span.contact-info a:hover {
  transition: color calc(1s/2);
}

.aside-hover polygon {
  fill: #FFF !important;
}
.aside-hover span.contact-info a {
  color: #969696;
}
.aside-hover span.contact-info a:hover {
  color: #000;
  text-decoration: none;
}

.main-nav {
  animation: 1s 1 forwards slideDown;
  width: min-content;
  padding: 0 50px;
  margin: 0 auto;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  position: relative;
  overflow: hidden;
}
.main-nav .aesthetic-block {
  width: 300px;
  height: 100%;
  position: absolute;
  background-color: #FFF;
}
.main-nav .aesthetic-block:nth-child(1) {
  right: -20px;
  transform: rotate(-45deg);
  height: 100px;
}
.main-nav .aesthetic-block:nth-child(3) {
  left: -20px;
  transform: rotate(45deg);
  height: 100px;
}
.main-nav .aesthetic-block:nth-child(2) {
  width: 75%;
  left: 50%;
  transform: translateX(-50%);
}
.main-nav ul {
  margin: auto;
  padding: 15px 0 15px;
  display: flex;
  flex-direction: row;
  width: min-content;
  font-size: 2.2em;
}
.main-nav li {
  width: 150px;
  height: 50px;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-nav li:first-child, .main-nav li:last-child {
  font-size: 0.88em;
}
.main-nav li:nth-child(3) {
  width: 120px;
}
.main-nav li:hover {
  font-size: 1.1em;
}
.main-nav li, .main-nav li:hover {
  transition: font-size 0.25s;
}
.main-nav li a {
  display: block;
  color: inherit;
  letter-spacing: 1.5px;
  z-index: 5;
}
.main-nav li a:hover {
  text-decoration: none;
}

.nav-logo {
  position: absolute;
  top: 2px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 5;
}
.nav-logo img {
  width: 90px;
  height: auto;
  border-radius: 50%;
  padding: 2px;
  border: 4px solid #2e3192;
  background-color: #FFF;
}
.nav-logo img:hover {
  width: 95px;
}
.nav-logo img, .nav-logo img:hover {
  transition: width 0.25s;
}

#radical_about h3 {
  width: 100%;
  margin: 20px 10px;
}
#radical_about .row p {
  text-align: justify;
  text-align-last: center;
  line-height: 2.5em;
}
#radical_about .row:nth-child(2) {
  text-align: right;
}

/*# sourceMappingURL=master.css.map */
