#radical_about {
  h3 {
    width: 100%;
    margin: 20px 10px;
  }

  .row {
    p {
      text-align: justify;
      text-align-last: center;
      line-height: 2.5em;
    }
    &:nth-child(2) {
      text-align: right;
    }
  }
}
