@keyframes glow{
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

#radical_about {
  h3 {
    width: max-content;
    padding: 20px 25px;
    //margin-bottom: 20px;
    background-color: darken($secondary-color, 5%);
    color: #FFF;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .row {
    p {
      text-align: justify;
      text-align-last: center;
      line-height: 2.5em;
      padding-left: 10px;
      padding-right: 10px;
    }
    &:nth-child(2) {
      text-align: right;
    }
  }
}

#our_image {
  z-index: 5;
}

.gallery-container {
  width: 90%;
  margin: 30px auto;
  position: relative;
  padding-bottom: 0;
  .mySlides {
    display: none;
    background-color: rgb( 50, 50, 50)
  }
  .active {
    display: flex;
    height: 450px;
    justify-content: center;
    align-items: center;
    img {
      width: auto;
      height: 100%;
    }
  }
  button {
    //animation: calc(#{$main-duration}*2) infinite alternate glow;
    background: unset;
    border: none;
    font-size: 3em;
    color: #FFF;
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    outline: none;
    height: 100%;
    width: 80px;
    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
      opacity: 1;
    }
  }
  .next {
    left: unset;
    right: 0;
  }
}

.testimonial {
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;
  }
  &-content {
    text-align: center;
    text-align-last: center;
    font-style: italic;
    line-height: 3em;
  }
  &-author {
    font-style: normal;
    text-align: center;
    margin-bottom: 50px;
    &:nth-of-type(2) {
      text-align: left;
      margin-left: 225px;
    }
    &:last-of-type {
      text-align: right;
      margin-right: 225px;
    }
  }
}
