body {
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#welcome_mat {
  position: absolute;
  top: 200px;
  right: 50px;
  svg {
    fill: $secondary-color;
  }
}

#estimate_form {
  position: absolute;
  padding: 20px;
  background-color: rgba(255,255,255,0.5);
}

section {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 0%;
  font-size: 1.7em;
  font-family: $text-font;
  z-index: 0;
  transition: height $main-duration;
  svg {
    position: absolute;
    width: 100%;
    height: auto;
    &.section_background {
      z-index: 0;
    }
    /*&.section_outer {
      position: absolute;
      height: 120px;
      width: 100%;
      top: 0;
      z-index: 3;
      fill: rgba(255,255,255,1);
    }*/
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font;
  }

  h3 {
    font-size: 2.5em;
  }
  .content-container {
    position: relative;
    z-index: 1;
    top: 120px;
    padding-bottom: 120px;
    height: 100%;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    .container {
      padding-bottom: 50px;
    }
  }
}

.active-page {
  height: 85%;
}
