#radical_map {
  background-image: url("../images/usMap3.jpg");
  @media screen and (max-width: $sm-break) {
    padding: 50px 0;
  }
  .image-overlay {
    background-color: rgba(34,40,49,0.5);
  }
  iframe {
    z-index: 1;
    width: 100%;
    height: 450px;
  }
  h2 {
    font-size: 4em;
    font-family: $heading-font;
    margin: 30px 0;
    color: #FFF;
    @media screen and (max-width: $md-break) {
      display: none;
    }
  }
  .container {
    z-index: 5;
    @media screen and (max-width: $md-break) and (min-width: $sm-break) {
      .row:first-child {
        margin-bottom: 80px;
      }
    }
  }
  .container div:nth-child(2) h2 {
    margin-left: auto;
  }
}

.parallaxBg {
  position: relative;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
