#radical_services {
  text-align: center;
  transition: all 0.5s;
  margin-top: 60px;
  margin-bottom: 120px;
  .container {
    max-width: 1200px;
  }
}

.services-container {
  & > p {
    color: $header-color;
    font-size: 2em;
    font-family: $nav-font;
    margin-bottom: 10px;
  }
  h2 {
    font-family: $heading-font;
    font-weight: bold;
    font-size: 3em;
  }
}

.cool-border {
  margin: 25px auto 5px;
  width: 370px;
  border-bottom: 3px solid $secondary-color;
  position: relative;
  &::after {
    position: relative;
    display: block;
    margin: 0 auto;
    top: 3px;
    width: 100px;
    border-bottom: 3px solid $cool-border-color;
    content: "";
  }
}

.services-content {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 65px;
  img {
    box-sizing: content-box;
    display: block;
    max-width: 140px;
    height: auto;
    border: 6px solid $border-color;
    border-radius: 50%;
    margin: 0 auto;
  }
  .cool-border {
    width: 100px;
    &::after {
      width: 35px;
    }
  }
}

.service-card {
  $transition-time: 0.5s;
  $hover-color: $secondary-color;
  $services-border: $cool-border-color;
  .service-title {
    border: 2px solid $border-color;
    padding: 40px 20px;
    max-width: 200px;
    position: relative;
    span {
      margin-top: 20px;
      height: 45px;
      font-family: $nav-font;
      font-size: 1.6em;
      letter-spacing: 1.2px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      text-transform: uppercase;
    }
    &:hover {
      background-color: $hover-color;
      border-color: $hover-color;
      cursor: pointer;
      img {
        border-color: $services-border;
      }
      & .cool-border {
        border-color: $services-border;
      }
      & .cool-border::after {
        border-color: #FFF;
      }
    }
    &, &:hover,
    img, &:hover img,
    span, &:hover span,
    .cool-border, &:hover .cool-border,
    .cool-border::after, &:hover .cool-border::after {
      transition: all $transition-time;
    }
  }
  .service-summary {
    transition: all $transition-time;
    background-color: $border-color;
    width: 100%;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    color: lighten($text-color, 25%);
    font-size: 1.5em;
    padding: 20px;

    .fas {
      font-size: 1.2em;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;

      &:hover {
        opacity: 0.9;
      }
    }
  }
  &.is-collapsed {

    .service-title {
      &:after {
        content: "";
        opacity: 0;
      }
    }
    .service-summary {
      left: 0;
      max-height: 0;
      min-height: 0;
      overflow: hidden;
      margin-top: 0;
      opacity: 0;
    }
  }
  &.is-expanded {

    .service-title {
      background-color: $hover-color;

      &:after{
        content: "";
        opacity: 1;
        height: 0;
        width: 0;
        position: absolute;
        bottom: -30px;
        left: calc(50% - 15px);
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid #333a45;
      }
      img {
        border-color: $services-border;
      }
      & .cool-border {
        border-color: $services-border;
      }
      & .cool-border::after {
        border-color: #FFF;
      }
    }

    .service-summary {
      left: 0;
      max-height: 500px;
      min-height: 200px;
      overflow: visible;
      margin-top: 30px;
      opacity: 1;
    }

    &:hover {
      .service-title {
        transform: scale(1);
      }
    }
  }

  &.is-inactive {
    .service-title {
      pointer-events: none;
      opacity: 0.5;
    }

    &:hover {
      .service-title {
        background-color: $hover-color;
        transform: scale(1);
      }
    }
  }
}
