#radical_services {
  text-align: center;
}

.services-container {
  & > p {
    color: $header-color;
    font-size: 2em;
    font-family: $nav-font;
    margin-bottom: 0;
  }
  h2 {
    font-family: $heading-font;
    font-weight: bold;
    font-size: 3em;
  }
}

.cool-border {
  margin: 25px auto 5px;
  width: 370px;
  border-bottom: 3px solid red;
  position: relative;
  &::after {
    position: relative;
    display: block;
    margin: 0 auto;
    top: 3px;
    width: 100px;
    border-bottom: 3px solid black;
    content: "";
  }
}
