#radical_services {
  text-align: center;
  .container {
    max-width: 1200px;
  }
}

.services-container {
  & > p {
    color: $header-color;
    font-size: 2em;
    font-family: $nav-font;
    margin-bottom: 10px;
  }
  h2 {
    font-family: $heading-font;
    font-weight: bold;
    font-size: 3em;
  }
}

.cool-border {
  margin: 25px auto 5px;
  width: 370px;
  border-bottom: 3px solid red;
  position: relative;
  &::after {
    position: relative;
    display: block;
    margin: 0 auto;
    top: 3px;
    width: 100px;
    border-bottom: 3px solid black;
    content: "";
  }
}

.services-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 65px;
  img {
    box-sizing: content-box;
    display: block;
    max-width: 140px;
    height: auto;
    border: 4px solid $border-color;
    border-radius: 50%;
    margin: 0 auto;
  }
  .cool-border {
    width: 100px;
    &::after {
      width: 35px;
    }
  }
  p{
    margin-top: 20px;
    height: 45px;
    font-family: $nav-font;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
  p.summary {
    opacity: 0;
    display: block;
    font-size: 1.2em;
    height: auto;
    position: relative;
    text-align: justify;
    text-align-last: center;
  }
  .service-image-container {
    $services-border: rgb(20,20,20);
    border: 3px solid $border-color;
    padding: 40px 20px;
    max-width: 200px;
    &:hover {
      background-color: #f14e4f;
      border-color: $services-border;
      & img {
        border: 8px solid $services-border;
      }
      & .cool-border {
        border-color: $services-border;
      }
      & .cool-border::after {
        border-color: #FFF;
      }
      & p  {
        opacity: 0;
        margin-top: 0;
      }
      & p.summary {
        opacity: 1;
      }
      &,
      & img,
      & .cool-border,
      & .cool-border::after,
      & p {
        transition: all 0.5s;
      }
      & p.summary {
        transition: opacity 0.5s;
      }
      & {
        transition: height 0.5s;
      }
    }
    &,
    & img,
    & .cool-border,
    & .cool-border::after,
    & p {
      transition: all 0.5s;
    }
    & p.summary {
      transition: none;
    }
  }
}
