#radical_testimonials {
  padding: 40px 0;
  a, a:hover {
    color: $text-color;
    text-decoration: none;
    margin: 0 auto;
  }
  .row {
    justify-content: space-between;
    align-items: center;
    margin: 35px 0;
  }
}

.testimonial {
  $review-color: lighten($cool-border-color, 35%);
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
  font-family: $nav-font;
  &-profile-pic {
    $profile-dimension: 150px;
    width: $profile-dimension;
    height: $profile-dimension;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  &-score {
    font-size: 1.5em;
    font-weight: bold;
  }
  &-stars {
    font-size: 1.8em;
    color: #ffcc00;
  }
  &-length {
    font-size: 1em;
    color: $review-color;
  }
  &-message {
    font-size: 1.1em;
    color: darken($review-color, 15%);
    text-align: center;
    text-align-last: center;
    margin-top: 10px;
    font-style: italic;
  }
  &-name {
    font-size: 1.3em;
  }
  &:hover {
    transform: scale(1.1);
  }
  &, &:hover {
    transition: all 0.5s;
  }
}
