:root {
  font-size: 10px;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

//Colors of the Website
$primary-color: #33ccff;
$secondary-color: #f25a5a;
$tertiary-color: #F2F2F2;
$text-color: #000;
$header-color: darken(#ffffff, 30%);
$border-color: rgba($header-color, 0.2);
$cool-border-color: rgb(40,40,40);

$nav-font: 'Work Sans', sans-serif;
$heading-font: 'Cabin', sans-serif;
$text-font: 'Noto Serif TC', serif;
