:root {
  font-size: 10px;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

html, body {
  height: 100%;
}

//Colors of the Website
$primary-color: #33ccff;
$secondary-color: #f25a5a;
$tertiary-color: #F2F2F2;

$nav-font: 'Oswald', sans-serif;
$heading-font: 'Cabin', sans-serif;
$text-font: 'Noto Serif TC', serif;

$xs-break: 575.98px;
$sm-break: 767.98px;
$md-break: 991.98px;
$lg-break: 1199.98px;

$main-duration: 1s;
