:root {
  font-size: 10px;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

.parallaxBgTwo {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
}

//Colors of the Website
$primary-color: rgb(46, 49, 146); //#33ccff
$secondary-color: #d41111; //#f25a5a
$tertiary-color: #F2F2F2;
$text-color: #000;
$header-color: darken(#ffffff, 30%);
$border-color: rgba($header-color, 0.2);
$cool-border-color: rgb(40,40,40);
$text-contrast: 1px 0 5px $cool-border-color,
             2px 0 5px $cool-border-color,
             0 1px 5px $cool-border-color,
             0 2px 5px $cool-border-color,
             -1px 0 5px $cool-border-color,
             -2px 0 5px $cool-border-color,
             0 -1px 5px $cool-border-color,
             0 -2px 5px $cool-border-color;

$nav-font: 'Work Sans', sans-serif;
$heading-font: 'Cabin', sans-serif;
$text-font: 'Noto Serif TC', serif;

$xs-break: 575.98px;
$sm-break: 767.98px;
$md-break: 991.98px;
$lg-break: 1199.98px;
