<section id="radical_about">
  <!--<svg width="100" height="100" viewBox="0 0 100 100" preserveAspectRatio="none" class="section_outer">
    <polygon points="0,0 0,100 50,0" class="aesthetic_block" />
    <polygon points="100,0 100,100 50,0" class="aesthetic_block" />
  </svg>-->
  <svg width="100" height="100" viewBox="0 0 100 100" preserveAspectRatio="none" class="section_background">
    <defs>
    <linearGradient id="grad2" x1="0%" y1="0%" x2="0%" y2="100%">
      <stop offset="0%" style="stop-color:rgba(255,255,255, 0.3);" />
      <stop offset="25%" style="stop-color:rgba(255,255,255, 0.8);" />
      <stop offset="50%" style="stop-color:rgba(255,255,255, 0.8);" />
      <stop offset="100%" style="stop-color:rgba(255,255,255, 1);" />
    </linearGradient>
  </defs>
    <polygon points="0,100 0,7 50,0 100,7, 100,100" fill="url(#grad2)" />
  </svg>
  <div class="content-container">
    <h2 class="d-none">About</h2>
    <div class="container">
      <div class="row">
        <h3>Where We Came From</h3>
        <p>Radical Movers is a family owned company started in 2010. We began our journey with an idea, a company that was more about the client than the money. Where helping was more important than price. It sounded like a fantasy, business need money to run, but why not do both. We started out with one truck, some friends, and our client first mentality. We've had some bumps on the road but we've moved from one truck an a home "office" to soon to be three trucks, a proper office space for clients and hirees alike, and a reputation everyone here at Radical Movers is proud of.</p>
      </div>
      <div class="row">
        <h3>Where We Are Going</h3>
        <p>Radical Movers has undergone quite a bit of growth but we are expecting to continue expanding our reach further and further out, hopefully reaching our next goal of owning five trucks and aiding in the moving of residents along the entire Northeastern coast. Our goals seem like dreams right now but at a time, the company itself was but a dream. We are always looking for new, and promising movers to help our team grow. If you are interested in joining our team, be it as a mover or anything else you think we may need feel free to email us at <a href="mailto:radicalmovers1@gmail.com">radicalmovers1@gmail.com</a>. Please include your name and area of interest for emplyment in the email, along with your resume.
        <br />
        <br />
        We are excited to meet you, and if you have any questions, feel free to contact us at any of the methods provided. See you soon!</p>
      </div>
    </div>
  </div>
</section>
