<section id="radical_estimate">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="image-container">
          <img src="" alt="" />
          <div class="image-overlay">
            <p>Request a Free <strong>Estimate</strong></p>
          </div>
        </div>
      </div>
      <div class="col">
        <form class="estimate" action="index.php" method="post">
          <div class="container">
            <div class="row">
              <div class="col input-block">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" required />
              </div>
              <div class="col input-block">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required />
              </div>
              <div class="col input-block">
                <label for="phone_number">Phone Number</label>
                <input type="text" name="phone_number" id="phone_number" required />
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="message">Message</label>
                <textarea name="message" id="message"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input type="submit" name="submit" id="submit" value="Get an Estimate" />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
