  <section>
    <div class="container">
      <div class="row">
        <div class="col">
          <h4>Radical Movers</h4>
          <div class="cool-border"></div>
          <p>Since 2011, Radical Movers has been the undisputed winner on the VA, DC and MD area as the best moving company</p>
          <ul class="hours">
            <li class="hours-days">Monday to Saturday</li>
            <li class="hours-hours">9:00 am - 7:00 pm</li>
            <li class="hours-days">Sunday</li>
            <li class="hours-hours">We Take Some Rest</li>
          </ul>
        </div>
        <div class="col">
          <h4>Payments Accepted</h4>
          <div class="cool-border"></div>
          <div class="container">
            <div class="row">
              <div class="col">
                <img src="" alt="">
              </div>
              <div class="col">
                <img src="" alt="">
              </div>
              <div class="col">
                <img src="" alt="">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <img src="" alt="">
              </div>
              <div class="col">
                <img src="" alt="">
              </div>
              <div class="col">
                <img src="" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <h4>Contact Us</h4>
          <div class="cool-border"></div>
          <ul class="contact-container">
            <li class="contact-title">Office Address</li>
            <li class="contact-content">Anderson Dr, Fairfax, VA 22031</li>
            <li class="contact-title">Phone Number</li>
            <li class="contact-content">(703) 853 - 2210 or (571) 294 - 2491</li>
            <li class="contact-title">Email</li>
            <li class="contact-content">radicalmovers1@gmail.com</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col">
          &copy; Copyrights 2017 <strong>Radical Movers LLC.</strong> All Rights Reserved.
        </div>
      </div>
    </div>
  </section>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.js" charset="utf-8"></script>
  <script src="js\lightslider.js"></script>
  <script src="js/scripts.js"></script>
</body>
</html>
