<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Radical Movers - Save Money Everytime You Move</title>
  <link rel="icon" href="images/logo.png" />
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Cabin|Noto+Serif+TC|Work+Sans" rel="stylesheet">
  <link rel="stylesheet" href="css/master.css">
</head>
<body id="radical_home">
  <header class="nav-header">
    <div class="header-block header-logo">
      <div class="header-logo-container">
        <img src="images/bigLogo.png">
      </div>
      <div class="header-logo-content">
        <span class="company-name"></span>
        <br />
        <span class="company-line">Save Money Everytime You Move</span>
        <br />
        <div class="company-info"><a href="tel:+1-703-853-2210">(703) 853-2210</a><a href="tel:+1-571-294-2491"> (571) 294-2491</a><a href="mailto:radicalmovers1@gmail.com">radicalmovers1@gmail.com</a></div>
      </div>
    </div>
    <nav class="header-block header-nav" id="navigation_tab">
      <div>
        <ul>
          <li><a class="nav-link" href="#radical_home">Home</a></li>
          <li>
            <a class="nav-link" href="#radical_services">Services</a>
            <ul class="sub-nav-dropdown">
              <li><a href="#radical_pricing">Pricing</a></li>
              <li><a href="#radical_tips">Tips</a></li>
            </ul>
          </li>
          <li><a class="nav-link" href="#radical_estimate">Estimate</a></li>
          <li>
            <a class="nav-link" href="#radical_testimonials">About</a>
            <ul class="sub-nav-dropdown">
              <li><a href="#radical_gallery">Gallery</a></li>
              <li><a href="#radical_reviews">Reviews</a></li>
            </ul>
          </li>
          <li><a class="nav-link" href="#radical_contact">Contact</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <section class="parallaxBgTwo radical-intro" id="radical_intro">
    <div class="image-overlay"></div>
    <header class="banner-header">
      <div class="banner-text-container">
        <span class="banner-text">Family Owned and Operated, Treating you like a Person not a Job</span>
        <span class="banner-sub-text">Here at Radical Movers we value our client as a friend, a neighbor, and a person who deserves the most that we can provide. Here you are more than another job, you are another part of the Radical community.</span>
      </div>
      <img src="images/intro_bannerIcon.png" alt="">
    </header>
  </section>
