<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Radical Movers - Save Money Everytime You Move</title>
  <link rel="icon" href="images/logo.png" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Cabin|Noto+Serif+TC|Oswald" rel="stylesheet">
  <link rel="stylesheet" href="css/master.css">
</head>
<body>
<header>
  <h1 class="d-none">Radical Movers</h1>
  <a href="#" class="nav-logo"><img src="images/bigLogo.png" /></a>
  <nav class="main-nav">
    <div class="aesthetic-block"></div>
    <div class="aesthetic-block"></div>
    <div class="aesthetic-block"></div>
    <div>
      <ul>
        <li><a href="#" class="nav-tab" data-block="radical_about">About</a></li>
        <li><a href="#" class="nav-tab" data-block="radical_services">Services</a></li>
        <li></li>
        <li><a href="#" class="nav-tab" data-block="radical_pricing">Pricing</a></li>
        <li><a href="#" class="nav-tab" data-block="radical_tips">Tips</a></li>
      </ul>
    </div>
  </nav>
  <aside class="header-info">
    <svg width="275" height="40">
      <polygon points="0,0 275,0 225,40 50,40">
    </svg>
    <span class="header-info">Save Money Evertyime You Move</span>
  </aside>
  <aside class="header-info">
    <svg width="500" height="40">
      <polygon points="0,0 500,0 450,40 50,40">
    </svg>
    <div class="header-info contact-info">
      <span class="contact-info"><i class="fas fa-phone-square"></i> <a href="tel:+1-703-853-2210">(703) 853-2210</a></span>
      <span class="contact-info"><i class="fas fa-phone-square"></i> <a href="tel:+1-571-294-2491"> (571) 294-2491</a></span>
      <span class="contact-info"><i class="fas fa-envelope-square"></i> <a href="mailto:radicalmovers1@gmail.com">radicalmovers1@gmail.com</a></span>
    </div>
  </aside>
</header>
<!--<aside id="welcome_mat">
  <svg width="800" height="150" viewBox="0 0 600 100">
    <polygon points="0,100 50,0, 600,0 575,16 550,16 525,32 562.5,32 537.5,48 512.5,48 600,100" />
  </svg>
</aside>-->
<aside class="d-none" id="estimate_form">
  <form>
    <div>
      <input type="text" name="f_name" id="f_name" value="First Name" />
      <input type="text" name="l_name" id="l_name" value="Last Name" />
    </div>
    <div>
      <input type="email" name="email" id="email" value="Email" />
    </div>
    <div>
      <input type="text" name="phone_num" id="phone_num" value="Phone Number" />
      <input type="date" name="move_date" id="move_date" />
      <select name="service" id="service">
        <option value="local">Local</option>
        <option value="long distance">Long Distance</option>
        <option value="small office">Small Office</option>
        <option value="junk removal">Junk Removal</option>
        <option value="packing">Packing</option>
      </select>
    </div>
    <div>
      <input type="submit" name="submit" id="submit" value="Get a Quote" />
    </div>
  </form>
</aside>
