<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Radical Movers - Save Money Everytime You Move</title>
  <link rel="icon" href="images/logo.png" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Cabin|Noto+Serif+TC|Oswald" rel="stylesheet">
  <link rel="stylesheet" href="css/master.css">
</head>
<body>
<header>
  <h1 class="d-none">Radical Movers</h1>
  <a href="#" class="nav-logo"><img src="images/bigLogo.png" /></a>
  <nav class="main-nav">
    <div class="aesthetic-block"></div>
    <div class="aesthetic-block"></div>
    <div class="aesthetic-block"></div>
    <div>
      <ul>
        <li><a href="#" class="nav-tab" data-block="radical_about">About</a></li>
        <li><a href="#" class="nav-tab" data-block="radical_services">Services</a></li>
        <li></li>
        <li><a href="#" class="nav-tab" data-block="radical_pricing">Pricing</a></li>
        <li><a href="#" class="nav-tab" data-block="radical_tips">Tips</a></li>
      </ul>
    </div>
  </nav>
</header>
<!--<aside id="welcome_mat">
  <svg width="100" height="100" viewBox="0 0 600 200">
    <polygon points="600,0 600,200 50,200 0,100 50,0" />
  </svg>
</aside>-->
<aside class="d-none" id="estimate_form">
  <form>
    <div>
      <input type="text" name="f_name" id="f_name" value="First Name" />
      <input type="text" name="l_name" id="l_name" value="Last Name" />
    </div>
    <div>
      <input type="email" name="email" id="email" value="Email" />
    </div>
    <div>
      <input type="text" name="phone_num" id="phone_num" value="Phone Number" />
      <input type="date" name="move_date" id="move_date" />
      <select name="service" id="service">
        <option value="local">Local</option>
        <option value="long distance">Long Distance</option>
        <option value="small office">Small Office</option>
        <option value="junk removal">Junk Removal</option>
        <option value="packing">Packing</option>
      </select>
    </div>
    <div>
      <input type="submit" name="submit" id="submit" value="Get a Quote" />
    </div>
  </form>
</aside>
