<section id="radical_services">
  <div class="container-fluid">
    <div class="row">
      <div class="col mt-md-5 mb-md-5 services-container">
        <p>Safe, Rapid, and Affordable Moving Solution</p>
        <h2>Our Services</h2>
      </div>
      <button class="service-accordion">Residential</button>
      <div class="service-panel">
        <p><strong>EVEN IF YOU'RE ONLY MOVING A MILE AWAY</strong>
          <br />
          <br />
          Residence, apartment or office - we handle all types of moves across town or across VA, MD and DC. Call in a Radical Movers team of professional movers to make your move go as smoothly as possible. Radical Movers is a moving company that is licensed and insured. But we know you’d rather not have to depend on it. We handle all of your items with care, like they are our own. Our packing materials are top-of-the-line, so you never have to worry about damage.
          <br />
          <br />
          Our experienced movers will disassemble and reassemble furniture, and shrink wrap your delicate items for safe transit. It’s our job as a trusted local moving company to make sure your move across town or just across the street happens on schedule, as planned, every time. We have encountered nearly any situation you can imagine. We’ll take it from here and you can rest assured that you’re in good hands.
          </p>
      </div>
      <button class="service-accordion">Long Distance</button>
      <div class="service-panel">
        <p>At Radical Movers, we have figure the formula to make your move smooth, stress and worry-free because moving across the country should be exciting, not stressful. This means that we will take our direction from your needs, circumstances and schedule.  Saying that WHY WE WILL BE RADICAL MOVERS THE BEST LONG DISTANCES MOVING COMPANY FOR YOU?
          <br />
          <br />
          At RADICAL MOVERS, your belongings will be loaded onto a specified truck without being combined with anyone else’s items. We will schedule a set loading day and unloading day, allowing you the peace of mind knowing that your belongings will be safe and secure as they are transferred to your new residence and that your furniture and household items will not be transferred to another truck or facility along the way, preventing any losses or damages.
          <br />
          <br />
          We also offer complete packing and unpacking services to customers and OUR MOVERS can assist with in-house moving, such as assembling beds and arranging furniture as desired at your new home, all of that included in the price if specified in the site visit.
          <br />
          <br />
          * Our long-distance services are considered to be any move greater than 50 miles and their rates are based on the total miles between our office, your current home, and your destination home, as well as how many moving trucks are required for your move.
        </p>
      </div>
      <button class="service-accordion">Commercial and Office</button>
      <div class="service-panel">
        <p>Our professional movers and experienced staff will help you create an office relocation plan and guide you through the logistics so that no important steps are missed. We’ll assist you through each step in preparing your office move in order to make it as streamlined and convenient as possible.
          <br />
          <br />
        Radical Movers will conduct your office moving efficiently and effectively. We can also conduct services after hours or weekends to minimize business impact and will provide team crews of numerous movers to accommodate the necessities of the service.
          <br />
          <br />
          <strong>We specialize in:</strong>
        </p>
        <ul>
          <li>Office Relocation</li>
          <li>Delivery of Commercial Crates</li>
          <li>Warehouse Moves</li>
          <li>Packing and Unpacking Services</li>
          <li>Disassembly & Assembly of Complex, Heavy Furniture</li>
          <li>Handling Fragile Electronic Equipment</li>
          <li>Storage Assistance</li>
          <li>Furniture or Junk Removal for Donation or Land Field Disposal</li>
        </ul>
      </div>
      <button class="service-accordion">Others</button>
      <div class="service-panel">
        <ul id="other_services">
          <li>Piano Moving</li>
          <li>Packing and Unpacking</li>
          <li>Storage Moving</li>
          <li>Moving Supplies</li>
          <li>Emergency Moving</li>
          <li>Junk Removals</li>
          <li>Special Deliveries</li>
        </ul>
      </div>
      <!--<div class="service-content">
        <div class="service-flip-card">
          <div class="service-card-inner">
            <div class="service-card-front">
              <h3>Packing and Unpacking</h3>
              <img src="images/boxService.jpg" />
            </div>
            <div class="service-card-back">
              <h3>Packing and Unpacking</h3>
              <p>Need to move quickly or simply can't take the time to pack-up your things, no problem. We can add packing and unpacking services to any move, anywhere, anytime. Our team of professionals will handle your things with the utmost care and organize your things according to your liking or by indivudal rooms, which ever you prefer. Not only that, but upon arrival we can unpack as well so you can simply go right into to your new cozy home.</p>
            </div>
          </div>
        </div>
        <div class="service-flip-card">
          <div class="service-card-inner">
            <div class="service-card-front">
              <h3>Local</h3>
              <img src="images/localService.jpg" />
            </div>
            <div class="service-card-back">
              <h3>Local</h3>
              <p>Moving within the DMV area, we got it covered. We at Radical Movers understand that any move regardless of distance is a transition in life, that we are not simply moving things but also memories. That is why we treat everything with the care and protection we as people share with our memories. Regardless of whether it is a home, storage, an office, or other, we'll take care of it.</p>
            </div>
          </div>
        </div>
        <div class="service-flip-card">
          <div class="service-card-inner">
            <div class="service-card-front">
              <h3>Long Distance</h3>
              <img src="images/longdistanceService.jpg" />
            </div>
            <div class="service-card-back">
              <h3>Long Distance</h3>
              <p>Leaving us here in the DMV, we'll miss you but we'll also come to your aid. No place is too far, except the west coast, but anything up to the midwest is fair game and we'll make sure you along with all your belongings make it to your new home. The pricing for this particular service varies in price depending on the destination, so please mention  it when contacting us.</p>
            </div>
          </div>
        </div>
        <div class="service-flip-card">
          <div class="service-card-inner">
            <div class="service-card-front">
              <h3>Junk Removal</h3>
              <img src="images/junkService.jpg" />
            </div>
            <div class="service-card-back">
              <h3>Junk Removal</h3>
              <p>Been meaning to get that couch out of the house, or that broken dresser in the garage, we can help with that. Our junk removal service is quick and affordable, just mention the piece of funiture in the estimate form and we will reply with the an amazing deal.</p>
            </div>
          </div>
        </div>
      </div>-->
    </div>
    <div class="row" id="radical_pricing">
      <div class="col pricing-container">
        <p>Pricing can vary depending on the type of move as well as if there are any specific pieces of furniture that require extra care or if there are any specific instructions you have.</p>
        <h3>Pricing</h3>
        <div class="row mt-5 mb-4">
          <div class="col pricing-box">
            <h4>Economic RM</h4>
            <span>Small moving service and small apartment</span>
            <br />
            <br />
            <span>$125/hour - This package includes 2 movers and one moving truck</span>
          </div>
          <div class="col pricing-box">
            <h4>Value RM</h4>
            <span>Ideal for small houses and most apartments (two bedroom apartments and small single family homes)</span>
            <br />
            <br />
            <span>$165/hour - This package includes 3 movers and 1 moving truck</span>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col pricing-box">
            <h4>Large RM</h4>
            <span>Perfect for medium households, medium sized home or large apartment</span>
            <br />
            <br />
            <span>$205/hour - This package includes 4 movers and 1 moving truck </span>
          </div>
          <div class="col pricing-box">
            <h4>XL Move RM</h4>
            <span>Ideal for large households and multiples locations</span>
            <br />
            <br />
            <span>$275/hour - This package includes 5 movers and 2 moving trucks</span>
          </div>
        </div>
        <p class="pricing-disclaimer">***Adding an extra mover to your service is $40 per hour. All of our moving services are billed by the hour.
          <br />
          <br />
          Additional Travel time charged for ½ hour or 1 hour. Our time will start when we leave our warehouse located at Willow Oaks Corporate Drive, Fairfax VA and will stop when we return to our warehouse at the end of your move.
        </p>
        <!--<div class="col pricing-content">
          <i class="fas fa-user"></i>
          <i class="fas fa-truck-moving"></i>
          <i class="fas fa-user"></i>
          <p>Our starting point is one truck, two movers for two hours all for a flat rate of $275. Need more movers, more trucks, or more time? Our prices are flexible and are done on a case by case bases based on the estimate.</p>
        </div>-->
      </div>
    </div>
    <div class="row" id="radical_tips">
      <div class="col tips-container">
        <p>Some tips and tricks to help in the moving process</p>
        <h3>Tips</h3>
        <ul>
          <li onclick="void(0)">"Packing beforehand will speed up the moving process by up to 4x"</li>
          <li onclick="void(0)">"Use new and sturdy boxes to maximize protection as heavier loaded boxes to tend to move and tear more"</li>
          <li onclick="void(0)">"Pets should be kept apart from the move in order to maximze efficiency"</li>
          <li onclick="void(0)">"Please take personal items, money, and medication on your person."</li>
        </ul>
      </div>
    </div>
  </div>
</section>
