<section id="radical_services">
  <div class="container mt-md-5">
    <div class="row">
      <div class="col mt-md-5 services-container">
        <p>Safe, Rapid, and Affordable Moving Solution</p>
        <h2>Our Services</h2>
        <div class="cool-border"></div>
        <div class="services-content">
          <div class="service-card [ is-collapsed ]">
            <div class="service-title [ js-expander ]">
              <div class="image-container">
                <img src="images/moving-truck.jpg" alt="">
              </div>
              <span>Local</span>
              <div class="cool-border"></div>
            </div>
            <div class="service-summary">
              <i class="fas fa-times [ js-collapser ]"></i>
              <p class="summary">This is a little test summary for when the site goes live, we'll try to keep it small though. At least for now.</p>
            </div>
          </div>
          <div class="service-card [ is-collapsed ]">
            <div class="service-title [ js-expander ]">
              <div class="image-container">
                <img src="images/moving-truck.jpg" alt="">
              </div>
              <span>Long Distance</span>
              <div class="cool-border"></div>
            </div>
            <div class="service-summary">
              <i class="fas fa-times [ js-collapser ]"></i>
              <p class="summary">This is a little test summary for when the site goes live, we'll try to keep it small though. At least for now.</p>
            </div>
          </div>
          <div class="service-card [ is-collapsed ]">
            <div class="service-title [ js-expander ]">
              <div class="image-container">
                <img src="images/moving-truck.jpg" alt="">
              </div>
              <span>Small Offices</span>
              <div class="cool-border"></div>
            </div>
            <div class="service-summary">
              <i class="fas fa-times [ js-collapser ]"></i>
              <p class="summary">This is a little test summary for when the site goes live, we'll try to keep it small though. At least for now.</p>
            </div>
          </div>
          <div class="service-card [ is-collapsed ]">
            <div class="service-title [ js-expander ]">
              <div class="image-container">
                <img src="images/moving-truck.jpg" alt="">
              </div>
              <span>Packing and Unpacking</span>
              <div class="cool-border"></div>
            </div>
            <div class="service-summary">
              <i class="fas fa-times [ js-collapser ]"></i>
              <p class="summary">This is a little test summary for when the site goes live, we'll try to keep it small though. At least for now.</p>
            </div>
          </div>
          <div class="service-card [ is-collapsed ]">
            <div class="service-title [ js-expander ]">
              <div class="image-container">
                <img src="images/moving-truck.jpg" alt="">
              </div>
              <span>Junk Removal</span>
              <div class="cool-border"></div>
            </div>
            <div class="service-summary">
              <i class="fas fass-close [ js-collapser ]"></i>
              <p class="summary">This is a little test summary for when the site goes live, we'll try to keep it small though. At least for now.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
