<section id="radical_services">
  <div class="container">
    <div class="row">
      <div class="col mt-md-5 services-container">
        <p>Safe, Rapid, and Affordable Moving Solution</p>
        <h2>Our Services</h2>
        <div class="cool-border"></div>
        <div class="services-content">
          <div class="service-card [ is-collapsed ]">
            <div class="service-title [ js-expander ]">
              <div class="image-container">
                <div class="image-overlay"></div>
                <img src="images/about_local.jpg" alt="">
              </div>
              <span>Local</span>
              <div class="cool-border"></div>
            </div>
            <div class="service-summary">
              <i class="fas fa-times [ js-collapser ]"></i>
              <p class="summary">From homes and condos to small offices to storage units, our team of professionals will handle your belongings with the utmost care while moving as quickly as possible so you can settle down and enjoy your new space. We cover the entire DMV area and our estimates are free so there's never any harm in just giving us a call or sending us an email. Our typical pricing can be found <a href="#">here</a>, however we can and will work with you so that your needs are covered to the full extent we can provide.</p>
            </div>
          </div>
          <div class="service-card [ is-collapsed ]">
            <div class="service-title [ js-expander ]">
              <div class="image-container">
                <div class="image-overlay"></div>
                <img src="images/about_longDistance.jpg" alt="">
              </div>
              <span>Long Distance</span>
              <div class="cool-border"></div>
            </div>
            <div class="service-summary">
              <i class="fas fa-times [ js-collapser ]"></i>
              <p class="summary">This is a little test summary for when the site goes live, we'll try to keep it small though. At least for now.</p>
            </div>
          </div>
          <div class="service-card [ is-collapsed ]">
            <div class="service-title [ js-expander ]">
              <div class="image-container">
                <div class="image-overlay"></div>
                <img src="images/about_smallOffice.jpg" alt="">
              </div>
              <span>Small Offices</span>
              <div class="cool-border"></div>
            </div>
            <div class="service-summary">
              <i class="fas fa-times [ js-collapser ]"></i>
              <p class="summary">This is a little test summary for when the site goes live, we'll try to keep it small though. At least for now.</p>
            </div>
          </div>
          <div class="service-card [ is-collapsed ]">
            <div class="service-title [ js-expander ]">
              <div class="image-container">
                <div class="image-overlay"></div>
                <img src="images/about_packingUnpacking.jpg" alt="">
              </div>
              <span>Packing and Unpacking</span>
              <div class="cool-border"></div>
            </div>
            <div class="service-summary">
              <i class="fas fa-times [ js-collapser ]"></i>
              <p class="summary">This is a little test summary for when the site goes live, we'll try to keep it small though. At least for now.</p>
            </div>
          </div>
          <div class="service-card [ is-collapsed ]">
            <div class="service-title [ js-expander ]">
              <div class="image-container">
                <div class="image-overlay"></div>
                <img src="images/about_junkRemoval.jpg" alt="">
              </div>
              <span>Junk Removal</span>
              <div class="cool-border"></div>
            </div>
            <div class="service-summary">
              <i class="fas fa-times [ js-collapser ]"></i>
              <p class="summary">This is a little test summary for when the site goes live, we'll try to keep it small though. At least for now.</p>
            </div>
          </div>
          <span class="arrow left-arrow"><</span>
          <span class="arrow right-arrow">></span>
        </div>
      </div>
    </div>
  </div>
</section>
