<section id="radical_testimonials">
  <div class="container">
    <div class="row flex-column flex-md-row">
      <a href="https://www.google.com/search?newwindow=1&safe=active&rlz=1C1CHBD_enUS832US832&ei=zMFPXIDROfLB_QbGm6cY&q=radical+movers+reviews&oq=radical+movers+reviews&gs_l=psy-ab.3..33i299.3875551.3879534..3879646...0.0..0.99.1736.22......0....1..gws-wiz.......0i71j35i39j0i131j0j0i67j0i131i67j0i22i30j38j33i160.PiNbM3yOf-Y#lrd=0x89b64c9ca63cffe5:0x8866f05280cb683d,1,,," target="_black" class="col-md-3 testimonial">
        <img src="images/testimonials_user.jpg" alt="" class="testimonial-profile-pic" />
        <span class="testimonial-stars four-stars"></span>
        <span class="testimonial-length">two months ago</span>
        <p class="testimonial-message">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
        <span class="testimonial-name">- Mary Beth</span>
      </a>
      <a href="https://www.google.com/search?newwindow=1&safe=active&rlz=1C1CHBD_enUS832US832&ei=zMFPXIDROfLB_QbGm6cY&q=radical+movers+reviews&oq=radical+movers+reviews&gs_l=psy-ab.3..33i299.3875551.3879534..3879646...0.0..0.99.1736.22......0....1..gws-wiz.......0i71j35i39j0i131j0j0i67j0i131i67j0i22i30j38j33i160.PiNbM3yOf-Y#lrd=0x89b64c9ca63cffe5:0x8866f05280cb683d,1,,," target="_black" class="col-md-3 testimonial">
        <img src="images/testimonials_user.jpg" alt="" class="testimonial-profile-pic" />
        <span class="testimonial-stars two-stars"></span>
        <span class="testimonial-length">two months ago</span>
        <p class="testimonial-message">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
        <span class="testimonial-name">- Mary Beth</span>
      </a>
      <a href="https://www.google.com/search?newwindow=1&safe=active&rlz=1C1CHBD_enUS832US832&ei=zMFPXIDROfLB_QbGm6cY&q=radical+movers+reviews&oq=radical+movers+reviews&gs_l=psy-ab.3..33i299.3875551.3879534..3879646...0.0..0.99.1736.22......0....1..gws-wiz.......0i71j35i39j0i131j0j0i67j0i131i67j0i22i30j38j33i160.PiNbM3yOf-Y#lrd=0x89b64c9ca63cffe5:0x8866f05280cb683d,1,,," target="_black" class="col-md-3 testimonial">
        <img src="images/testimonials_user.jpg" alt="" class="testimonial-profile-pic" />
        <span class="testimonial-stars two-half-stars"></span>
        <span class="testimonial-length">two months ago</span>
        <p class="testimonial-message">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
        <span class="testimonial-name">- Mary Beth</span>
      </a>
    </div>
    <div class="row d-none d-md-flex">
      <a href="https://www.yelp.com/biz/radical-movers-fairfax" target="_black" class="col-md-3 testimonial">
        <img src="images/testimonials_user.jpg" alt="" class="testimonial-profile-pic" />
        <span class="testimonial-stars three-stars"></span>
        <span class="testimonial-length">two months ago</span>
        <p class="testimonial-message">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
        <span class="testimonial-name">- Mary Beth</span>
      </a>
      <a href="https://www.facebook.com/pg/Radical.Movers.llc/reviews/?referrer=page_recommendations_see_all&ref=page_internal" target="_black" class="col-md-3 testimonial">
        <img src="images/testimonials_user.jpg" alt="" class="testimonial-profile-pic" />
        <span class="testimonial-stars five-stars"></span>
        <span class="testimonial-length">two months ago</span>
        <p class="testimonial-message">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
        <span class="testimonial-name">- Mary Beth</span>
      </a>
      <a href="https://www.yelp.com/biz/radical-movers-fairfax" target="_black" class="col-md-3 testimonial">
        <img src="images/testimonials_user.jpg" alt="" class="testimonial-profile-pic" />
        <span class="testimonial-stars one-half-stars"></span>
        <span class="testimonial-length">two months ago</span>
        <p class="testimonial-message">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
        <span class="testimonial-name">- Mary Beth</span>
      </a>
    </div>
  </div>
</section>
