<section id="radical_testimonials">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="text-center text-md-left">Where We Came From . . .</h2>
        <p>Radical Movers is a family owned company started in 2010. We began our journey with an idea, a company that was more about the client than the money. Where helping was more important than price. It sounded like a fantasy, business need money to run, but why not do both. We started out with one truck, some friends, and our client first mentality. We've had some bumps on the road but we've moved from one truck an a home "office" to soon to be three trucks, a proper office space for clients and hirees alike, and a reputation everyone here at Radical Movers is proud of.</p>
        <h2 class="text-center text-md-right">. . . Where We're Going</h2>
        <p>Radical Movers has undergone quite a bit of growth but we are expecting to continue expanding our reach further and further out, hopefully reaching our next goal of owning five trucks and aiding in the moving of residents along the entire Northeastern coast. Our goals seem like dreams right now but at a time, the company itself was but a dream. We are always looking for new, and promising movers to help our team grow. If you are interested in joining our team, be it as a mover or anything else you think we may need feel free to email us at radicalmovers1@gmail.com. Please include your name and area of interest for emplyment in the email, along with your resume.
        <br />
        <br />
        We are excited to meet you, and if you have any questions, feel free to contact us at any of the methods provided. See you soon!</p>
      </div>
    </div>
    <div class="row d-block mt-md-5 mb-md-5" id="radical_gallery">
      <div class="gallery-aesthetic">
        <div class="gallery-container" id="gallery_container">
          <div class="mySlides" data-img-src="images/gallery1.jpg"></div>
          <div class="mySlides" data-img-src="images/gallery3.jpg"></div>
          <div class="mySlides" data-img-src="images/gallery4.jpg"></div>
          <div class="mySlides" data-img-src="images/gallery5.jpg"></div>
        </div>
      </div>
    </div>
    <div class="testimonial-message-new" id="radical_reviews">
      <p>"Great job. Movers were pleasant and friendly. They showed up on time. Moved items fast and carefully. Arrived to second location quickly. And unloaded everything smoothly. What more could we ask for? Will use them again!"</p>
      <span>- Chassie Smith</span>
    </div>
    <div class="testimonial-message-new">
      <p>"I’ve used Radical Movers for both a small, short-distance move & a complicated inter-state move. Both times went extremely smoothly. Edward was very responsive while scheduling and during the day of, and he and his team were quick and careful loading & unloading. Rates were competitive, especially for such excellent service. I highly recommend Radical Movers."</p>
      <span>- Nicole Tortoriello</span>
    </div>
    <div class="testimonial-message-new">
      <p>"I heard great things about Eddie from others that had used him, so when it came time for me to move, I decided to go with Radical. They showed up on time, moved everything efficiently, and the cost was great. I would recommend Radical Movers to anyone in need of a moving company."</p>
      <span>- Ryan Lynch</span>
    </div>
    <h3>Want to Leave a Review?</h3>
    <span>Click on the Links Below</span>
    <div class="testimonial-links">
      <a href="https://www.google.com/search?q=radical+movers&oq=radical+movers&aqs=chrome..69i57j69i60j69i59l2j0.10533j0j4&sourceid=chrome&ie=UTF-8#lrd=0x89b64c9ca63cffe5:0x8866f05280cb683d,3,,," target="_blank"><i class="fab fa-google"></i></a>
      <a href="https://www.yelp.com/biz/radical-movers-fairfax" target="_blank" ><i class="fab fa-yelp"></i></a>
      <a href="https://www.facebook.com/pg/Radical.Movers.llc/reviews/?referrer=page_recommendations_see_all&ref=page_internal" target="_blank" ><i class="fab fa-facebook-f"></i></a>
    </div>
  </div>
</section>
